@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.nav-wrapper{
    background-color: #00766B;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
  }

main {
    flex: 1 0 auto;
  }

.btn_recipe{
    height: 2.1rem;
    width: 1rem;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    border: 0.1rem  #26a69a solid;
    border-radius:0.3rem;
    
}



.page-footer{
    background-color: #00766B;
    color: aliceblue;
}
#btn-footer{
    padding-right: 3%;
    color:aliceblue;
}

#modal1{
    
    background-color:  #00766B;
    color: aliceblue;
    width: 40%;
    height: 60%;
    text-align: center;
    
}
#modal2, #modal3{
    display: none;
    background-color:  #00766B;
    color: aliceblue;
    width: 40%;
    height: 20%;
    text-align: center;

}
#modal3{
    height: 30%;
}

.card-title{
    color:#00766B;
}
.card{
    border: #00766B solid 0.5rem;
    border-radius: 0.5rem;
    
   

}
.card-image{
    height: 30rem;
}

.category-header{
    font-size: 1.3rem;
}
.page-category, .category-name{
    font-size:1.5rem;
}

.search-btn{
    margin-bottom:0;
}
#logo{
    height: 6.25rem;
}
#home{
    color: #00766B;
}
#info{
    font-size: 1.2rem;
}