<!-- Base document used for following DRY -Dont Repeat Yourself - principle  -->
<!DOCTYPE html>
<html>
   <head>
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
      <script type="text/javascript">
         (function(){
          emailjs.init("user_UW97WmP3GsBepuyB8Vffd");
         })();
      </script>
   </head>
   <header>
  <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Lockdown Kitchen</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i> </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{url_for('get_recipes')}}">All recipes</a></li>
                    <li><a href="#">Browse by category</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add My Recipe</a></li>
                   
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{url_for('get_recipes')}}">All recipes</a></li>
                    <li><a href="#">Browse by category</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add My Recipe</a></li>
                    
                </ul>
            </div>
        </nav>
   </header>
   <body>
      <!-- Block content container-->
      <div class="container">
         {% block content %} {% endblock %}
      </div>
      <footer class="page-footer">
         <div class="footer-copyright">
            <div class="container">
               &copy; Krisztina Szabó
               <a class="waves-effect waves-light btn-small right  modal-trigger" href="#modal1" id="btn-footer">
               <i class="material-icons left"> message </i>Send feedback
               </a>
               <a href="https://github.com/krisztinatxt" target="_blank" rel="noopener" class="waves-effect waves-light btn-small right" id="btn-footer">
               <i class="material-icons left"> code </i>Visit My GitHub
               </a>
            </div>
         </div>
      </footer>
      <!-- Modal Structure -->
      <div id="modal1" class="modal bottom-sheet">
         <div class="modal-content">
            <h4>Send me feedback!</h4>
            <form id="contact-form">
               <input type="hidden" name="contact_number">
               <label for="name" class="label-name">Name:</label>
               <input type="text" name="from_name" id="name" placeholder="Your name..." required>
               <label for="email" class="label-email">Email:</label>
               <input type="email" name="from_email" id="email" placeholder="Your email address..." required>
               <label for="feedback" class="label-feedback">Feedback:</label>
               <textarea id="feedback" name="feedback" placeholder="Write your feedback here" required></textarea>
            </form>
         </div>
         <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" value = "send" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
         </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <!-- JavaScript codes -->
      <script type="text/javascript">
         $(document).ready(function() {
         //When the document is ready, the user is able to select a category before submiting the recipe
         $('select').material_select();
         $(".button-collapse").sideNav();
         $('.modal').modal();
         });
         
      </script>
      <script type="text/javascript">
         window.onload = function() {
             document.getElementById('contact-form').addEventListener('submit', function(event) {
                 event.preventDefault();
                 // generate the contact number value
                 this.contact_number.value = Math.random() * 100000 | 0;
                 emailjs.sendForm('gmail', 'lockdown_kitchen', this);
             });
         }
      </script>
   </body>
</html>